*{

font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
  
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color:#FFF;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 20px;

}
    nav{
        display: flex;
        align-items: center;
        margin: 0px 150px;
        justify-content: space-between;
        
    }
    .nav-title{
        color: #181818;
        font-size: 45px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    nav > ul{
        display: flex;
        align-items: center;
     
    }
    nav li{
       list-style: none;
       margin-right: 50px;
    }
nav a{
    text-decoration: none;
    color:#474747;
}
.header{
    background:url(../images/header_bg.png), #FFF8F3;;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 00px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-img{
    width: 500px;

}
.banner-contant{
max-width: 500px;
}

/* main section  styles*/
main{
max-width: 1140px;
margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0%;
}
.banner-titile{
    font-size: 70px;
    font-weight: 700;
    margin-top: 0%;
    margin-bottom: 0%;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 0px

}

.section-title{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}

.section-description{
    color:#757575;
    font-size: 18px;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}

/* skill section  */
.what{
    padding: 30px 150px;
}

.skill-container{

  display: flex;
  gap: 24px;  
}
.skill{
    padding: 30px;
   
    box-shadow: 0px 0px 15px rgb(0, 0, 0,.07);
    border-radius: 8px;
    margin-right: 20px;
}
.skill-description{
    color:  #757575;
}
/* resume ssection */

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display:flex;
    gap: 60px ;
    justify-content: center;
}
.resume-item-title{
color: #474747;
font-size: 20px;
font-weight: 700;

}
.resume-item-institute{
color:#757575;
font-size: 15px;
font-weight: 600;

}
.resume-item{
    margin-bottom: 30PX;
}
.resume-item-description{
    color: #757575;
font-size: 16px;
font-weight: 400;
line-height: 28px;
}

.Download-CV{
    text-align: center;
    margin-top: 30px;
}